.container {
    padding: 10px 5px;
}


.btn {
    background-color: rgb(255, 240, 232);
    border: none;
    color: #F36C29;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    width: 200px;
    margin: 10px auto;
    display: block;
    cursor: pointer;
}
